* {
    list-style: none;
}

.folder:before {
    width: 45px;
    height: 45px;
    content: '';
    display: block;
    background-size: cover;
}

.folder {
    display: flex;
}

.file:before {
    width: 45px;
    height: 45px;
    content: '';
    display: none;
    background-size: cover;
}


body > ul > li {
    border-top: 3px solid;
}
