
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.bg-color-coral {
    background-color: coral;
}

.bg-color-black {
    background-color: #111;
}

.bg-white-gray {
    background-color: rgb(248, 249, 250);
}

.color-white {
    color: #fff;
}

.bg-color-gray {
    background-color: rgb(52, 58, 64);
}

