.landing-logo,
.header_text,
.section_card_text,
.footer-wrap {
  font-family: "Fresca", sans-serif; }

.header_heading,
button,
a,
.section_text,
.section_card_heading,
.section_banner_text_wrap {
  font-family: "Source sans Pro", sans-serif; }

* {
  margin: 0 auto; }

body {
  background-color: #21232e; }

header {
  background-image: url("./../img/m-h-night.jpg");
  height: 700px;
  width: 100%;
  background-size: 100% 125%;
  overflow: hidden;
  margin-top: -180px;
  border-bottom-right-radius: 30%; }

.header-wrap {
  position: absolute;
  top: 20px;
  padding-left: 125px;
  width: 480px; }
  .header-wrap .header_heading {
    font-weight: 800;
    font-size: 44px;
    line-height: 46px; }
  .header-wrap p, .header-wrap div {
    margin-bottom: 25px;
    color: white; }
  .header-wrap .header_button {
    margin-right: 140px; }
  .header-wrap .login {
    font-weight: bold; }

.header_heading {
  position: relative;
  z-index: 5; }
  .header_heading.header_heading::after {
    content: '';
    width: 180px;
    height: 35px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 5px;
    background-color: #ff4e33;
    z-index: -5; }

.landing-logo img {
  width: 40px;
  height: 40px; }
.landing-logo p {
  display: inline-block;
  font-weight: 600;
  font-size: 22px; }
.landing-logo span {
  display: block;
  font-size: 8px;
  text-align: center; }

button {
  width: 120px;
  height: 40px;
  color: white;
  background-color: #699900;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 5px; }

a {
  color: white; }

.section_text {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: white;
  margin: 25px auto;
  position: relative;
  z-index: 5; }
  .section_text::after {
    content: '';
    position: absolute;
    right: 590px;
    bottom: 5px;
    width: 160px;
    height: 35px;
    background-color: #ff4e33;
    z-index: -5; }

.section_card {
  position: relative;
  width: 48%;
  min-height: 225px;
  background-color: #3b3f50;
  margin: 20px auto;
  padding: 15px;
  border-radius: 5px; }
  .section_card .section_card_img {
    float: left;
    height: 225px;
    width: 245px;
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 15px;
    margin-right: 60px;
    border-radius: 5px; }
  .section_card .section_card_right_container {
    position: absolute;
    left: 280px;
    right: 60px;
    padding-left: 40px; }
    .section_card .section_card_right_container .section_card_heading {
      color: white;
      text-align: center;
      font-size: 24px;
      font-weight: 600; }
    .section_card .section_card_right_container .section_card_text {
      line-height: 20px;
      font-size: 14px; }
    .section_card .section_card_right_container .section_link {
      display: block;
      text-align: center; }

.section_card_text,
.section_link {
  color: #bab6b1; }

.section_card_right_container p,
.section_link {
  margin-top: 25px;
  margin-bottom: 25px; }

.section_banner {
  width: 60%;
  height: 100px;
  border-radius: 5px;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #dea405 0%, #98364c 100%);
  position: relative;
  padding-bottom: 40px;
  z-index: 10; }
  .section_banner .section_banner_text_wrap {
    position: relative;
    padding-top: 5px;
    padding-left: 85px; }
  .section_banner .section_banner_text {
    color: white; }
  .section_banner .section_banner_button {
    position: absolute;
    right: 150px;
    top: 40px; }

.section_banner_heading {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  z-index: 5; }
  .section_banner_heading::after {
    content: '';
    position: absolute;
    background-color: #ff4e33;
    height: 40px;
    width: 55px;
    left: 90px;
    bottom: 2px;
    z-index: -5; }

footer {
  z-index: -10;
  margin-top: -70px;
  background-color: #3b3f50;
  width: 100%;
  padding: 80px 100px 40px; }
  footer .footer-wrap {
    color: white; }
