:root {
    --c-white: #FFFFFF;
    --c-grey: #808080;
    --c-black: #111111;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0b013c;
    font-family: 'Roboto', 'Arial' ;
}

.wrapper {
    background-image: url('./../img/header-bg.png');
    height: 471px;
    width: 958px;
    color: white;
}

.wrapper-block {
    width: 380px;
    margin-left: 0;
    margin-top: 50px;
}

.wrapper-block > h1,
.wrapper-block > h4,
.wrapper-block > p {
    padding-bottom: 25px;
}

.wrapper-block > h4,
.wrapper-block > p {
    font-weight: 100;
}

a {
    color: white;
    text-decoration: none;
}

.wrapper a {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    margin: 20px 0;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 38px;
}

h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 10px;
    background-color: #f8cb8a;
    margin: 15px auto 0 auto;
}

.content > h2::after {
    margin: 15px 0 0;
}


button {
    background-color: #f8cb8a;
    padding: 8px 15px;
    border: 1px solid #f8cb8a;
    margin-left: 7px;
}

button:hover {
    background-color: #f6bb66;
}

input {
    width: 250px;
    padding: 8px;
    color: var(--c-grey);
}

section {
    background-color: #fefaf3;
    /* font-family: 'Open Sans'; */
    width: 100%;
}

.all-articles {
    width: 950px;
    padding-top: 70px;
    padding-bottom: 70px;
    color: var(--c-black);
}

.introduction {
    width: 820px;
    text-align: center;
    padding-bottom: 70px;
}

.introduction > h2,
.introduction > h4,
.introduction > p {
    padding-bottom: 20px;
}

.article1 {
    background-color: white;
    height: 480px;
    position: relative;
}

.article1 img {
    width: 600px;
    height: 480px;
    position: absolute;

}

.content {
    position: absolute;
    right: 0;
    left: 600px;
    margin-right: 20px;
    padding-top: 35px;
    padding-left: 20px;
    padding-top: 35px;
}

.content >h2,
.content > h3,
.content > p {
    padding-bottom: 15px;
} 

.contains {
    position: relative;
    height: 350px;
    margin-top: 100px;
}

.article2,
.article3 {
    background-color: white;
    width: 435px;
}

.article2 img,
.article3 img {
    width: 435px;
    height: 250px;
}

.article2 {
    position: absolute;
    top: 0;
    left: 0;
}

.article3 {
    position: absolute;
    right: 0;
    top: 0;
}

.article2 > p,
.article3 > p {
    padding: 20px 10px;
}

p {
    font-style: italic;
    line-height: 25px;
}

.section2 {
    background-image: url('./../img/space-bg.png');
    background-color: #0b013c;
    color: var(--c-white);
    text-align: center;
    height: 484px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-2-container {
    width: 635px;
}

.section-2-container > h2,
.section-2-container > h4,
.section-2-container > p {
    padding-bottom: 15px;
}

footer {
    background-image: url('./../img/footer-bg.jpeg');
    color: var(--c-white);
    height: 406px;
    background-size: 100% 120%;
}

section, footer {
    font-family: 'Open Sans', 'Arial';
}

.footer-container {
    width: 950px;
    position: relative;
    top: 80px;
    background-color: chocolate;
}

.footer-text {
    position: absolute;
    left: 0;
    padding-top: 50px;
    width: 420px;
}

.footer-text > p {
        font-style: normal;
}

.footer-text > a {
    display: block;
    padding-top: 10px;
}

.footer-text > h3 {
    font-size: 32px;
    padding-bottom: 25px;
}

.footer-container img {
    display: block;
    position: absolute;
    right: 0;
    width: 420px;
}



