
.tm-bg-color-primary {
    background-color: rgb(118, 205, 216);
}

.tm-text-color-primary,
.tm-quote:hover {
    color: #76cdd8;
}

.tm-pricing-table {
    border-color: rgb(1, 153, 153);
}

.tm-pricing-table:hover {
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

.tm-pricing-table .btn:hover {
    background-color: #24d4d4;
}

.tm-pricing-discount {
    display: inline;
}

.tm-pricing-discount__star {
    color: red;
}

.tm-md-align-center:hover {
    background-color: rgb(118, 205, 216);
}

.btn,
.tm-bg-color-secondary {
    background-color: rgb(1, 153, 153);
}


button[type="submit"]:hover {
    background-color: rgb(118, 205, 216);
}

.form-control:focus, 
.form-group > select:focus {
    border-color: #24d4d4; 
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

.tm-card:nth-child(2) {  
    display: flex;
    flex-direction: row-reverse;
}


.img-fluid:nth-child(1):hover { 
    transform: scale(1.1, 1.1); 
}

.tm-card:first-child:hover::after,
.tm-card:nth-child(3):hover::after{
    content: "";
    margin-left: -100px;
    width: 0;
    height: 0;
    border-top: 100px solid #76cdd8;
    border-left: 100px solid transparent;
} 

.tm-card:nth-child(2) > div:last-child::before:hover {  
    content: "";
    display: block;
    position: absolute;
    left: 0;
    border-top: 100px solid #76cdd8;
    border-right: 100px solid transparent;
} 

.tm-form-header {
    background-color: rgb(35, 212, 212);
}

