
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: 'Roboto';
}

.post-1 {
  background: #F3D250;
}
.post-2 {
  background: #8D8741;
}
.post-3 {
  background: #659DBD;
}
.post-4 {
  background: #DAAD86;
}

header {
  background-color: #99ccff;
  height: 70px;
  margin-bottom: 25px;
  position: relative;
}

header > h1 {
  line-height: 70px;
  margin-left: 30px;
}

header, footer {
  color: white;
  font-family: 'Roboto';
}

h1::after {
  content: 'Blog';
  color:  rgb(88, 124, 166)
}

.c-brown {
  color: #484848;
}

h3 {
  font-size: 36px;
  font-family: 'Roboto';
  padding-bottom: 20px;
}

.post-1,
  .post-2,
  .post-3,
  .post-4,
  .news-1,
  .news-2 {
    max-width: 100%;
  }


.data {
  font-size: 36px;
  text-align: center;
  padding: 10px;
}


aside > div {
  border: 1px solid #484848;
}

.news-text {
  padding: 25px;
}

button {
  border: 1px solid #484848;
  padding: 5px;
  margin-top: 20px;
  background-color: white;
}

.news-1,
.news-2 {
    margin-bottom: 20px;
  }


footer {
  background-color: #162b4d;;
  position: relative;
}


@media screen and (min-width: 320px) and (max-width: 768px) {

  body {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    text-align: center;
  }

  nav {
    visibility: hidden;
  }

  .main,
  .page-1,
  .page-2,
  .page-3,
  .page-4,
  .news-1,
  .news-2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .post-1,
  .post-2,
  .post-3,
  .post-4 {
    min-height: 800px;
  }

  .post-1 > img,
  .post-2 > img,
  .post-3 > img,
  .post-4 > img,
  .article {
    max-height: 50%;
  }

  .article {
    max-height: 50%;
    padding: 40px;
  }

  .article,
  .news-text > p {
    font-size: 24px;
  }

  .news-text > h3 {
    padding: 20px 0 40px;
    font-size: 34px;
  }

  footer {
    background-color: #162b4d;;
    position: relative;
    text-align: center;
    padding: 40px 0 20px;
  }
  
  footer > div {
    margin-bottom: 15px;
  }

  footer > div > p {
      padding-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) { 

  h1 {
    text-align: center;
  }

  nav {
    visibility: hidden;
  }

  .content {
    max-width: 768px;
    box-sizing: border-box;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
  
  }

  nav {
    position: absolute;
    right: 70px;
    top:25px;
    bottom: 25px;
  }
  
  
  a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding-left: 20px;
  }
  
  .main {
    background-image: url('./../img/section1.jpg');
    min-height: 400px;
    color: white;
    position: relative;
    background-size: 100% 100%;
  }
  
  .main-text {
    position: absolute;
    bottom: 140px;
    left: 20px;
  }
  
  .content {
    max-width: 100%;
    box-sizing: border-box;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
  
  }
  
  .content section {
    max-width: 66.67%;
  }
  
  .section-2 {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }
  
  aside {
    max-width: 33.33%;
  }
  
  
  .post-1,
  .post-2,
  .post-3,
  .post-4 {
    display: flex;
    flex-direction: column;
    min-height: 600px;
  }
  
  .post-1 > img,
  .post-2 > img,
  .post-3 > img,
  .post-4 > img,
  .article {
    max-height: 50%;
  }
  
  .article {
    padding: 10px;
  }
  
  .news-1,
  .news-2 {
    display: flex;
    flex-direction: column;
  }
  
  .news-1 > img,
  .news-2 > img {
    height: 280px;
  }
  
  button {
    border: 1px solid #484848;
    padding: 5px;
    background-color: white;
  }
  
  footer {
    background-color: #162b4d;;
    position: relative;
    text-align: center;
    padding: 40px 0 20px;
  }
  
  footer > div {
    margin-bottom: 15px;
  }

  footer > div > p {
      padding-bottom: 15px;
  }
}

@media screen and (min-width: 1280px) {
  
  h1 {
    text-align: left;
  }

  nav {
    position: absolute;
    z-index: 5;
    right: 70px;
    top: 0;
    line-height: 70px;
  }
  
 li:hover,
 .section-2:hover,
 aside:hover {
   cursor: pointer;
 } 

ul {
  display: flex;
    flex-direction: row;
}

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 0 15px;
    margin-left: -4px;
  }

  a:hover {
    background-color: rgb(88, 124, 166);
  }

  .main {
    background-image: url('./../img/section1.jpg');
    min-height: 400px;
    color: white;
    position: relative;
    background-size: 100% 100%;
  }
  
  .main-text {
    position: absolute;
    bottom: 140px;
    left: 20px;
  }
  
  .content {
    max-width: 100%;
    box-sizing: border-box;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
  }
  
  .content section {
    max-width: 75%;
  }
  
  .section-2 {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }
  
  aside {
    max-width: 25%;
  }
  
  .post-1,
  .post-2,
  .post-3,
  .post-4 {
    display: flex;
  }
  
  .post-1 > img,
  .post-2 > img,
  .post-3 > img,
  .post-4 > img {
    max-width: 50%;
  }
  
  .article  {
    max-width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  
  .section-2 > div:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
  }

  .news-1,
  .news-2 {
    display: flex;
    flex-direction: column;
  }
  
  .news-1 > img,
  .news-2 > img {
    height: 280px;
  }
  
  footer {
    height: 80px;
  }
  
  footer > div:first-child {
    position: absolute;
    left: 30px;
    top: 20px;
  }
  
  footer > div:last-child {
    position: absolute;
    right: 30px;
    top: 20px;
  }
}
