* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#game {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(238,154,229,1) 0%, rgba(93,99,247,1) 100%);
    min-height: 250px;
}

#main {
    display: none;
    position: relative;
    top: 40px;
    margin: 0 15px;
}

button {
    color: rgb(72, 61, 139);
    font-weight: bold;
    border: 0;
    background-color: rgb(169, 169, 169);
    padding: 10px;
}

button:hover {
     border: 3px solid rgb(72, 61, 139);
}

#startBtn {
    position: absolute;
    left: 20px;
    top: 20px;
}

#skip-guestion {
    position: absolute;
    top: 20px;
    right: 20px;
}

.question {
    font-weight: 800;
    font-size: 18px;
    text-align: center;
}

.answers {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.answers > div {
    color: white;
    background-color: rgb(72, 61, 139);
    padding: 30px 20px;
    margin: 10px 12px;
    border-radius: 5px;
    max-width: 25%;
    cursor: pointer;
}

.final-line {
    text-align: center;
    display: block;
    font-weight: bold;
    padding-top: 100px;
}

#skip-guestion {
    display: none;
}

