/* START: Task 1 Styles */

table, td {
    border: 1px solid black;
}

td {
    padding: 40px;
    background-color: white;
}

/* END: Task 1 Styles */

/* START: Task 2 Styles */

#task2 {
    padding-top: 40px;
    width: 367px;
}

input {
    border: 2px solid black;
    width: 290px;
}


.form > input, button{
    padding: 7px;
}

.form > input {
    margin-right: 5px;
}


#allowed {
    display: none;
    background-color: green;
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
    padding: 20px;
}

#not_allowed {
    display: none;
    background-color: rgb(255, 128, 128);
    border:2px solid rgb(125, 125, 125);
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
    padding: 20px;
}

/* END: Task 2 Styles */

/* START: Task 3 Styles */

#task3 {
    width: 660px;
    padding-top: 20px;
}

#court {
    width: 660px;
    height: 330px;
    background-image: url("./assets/court.png");
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#ball {
    width: 40px;
    height: 40px;
    background-image: url("./assets/ball.png");
    background-size: cover;
    position: absolute;
    left: 310px;
    top: 155px;
}

#score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px;
}

#backboardA, #backboardB {
    width: 15px;
    height: 15px;
}

#backboardA {
    position: absolute;
    top: 170px;
    left: 35px;
}

#backboardB {
    position: absolute;
    top: 170px;
    right: 36px;
}

/* END: Task 3 Styles */
