$w-bg-pic: 100%;
$sourceSansPro: 'Source sans Pro', sans-serif;
$color-link: white;
$color-post: white;
$color-block: rgb(186, 182, 177);
$h-bg-pic: 700px;
$w-bg-pic: 100%;
$bg-pic-size: 100% 125%;


.landing-logo,
.header_text,
.section_card_text,
.footer-wrap {
    font-family: $secondPrint;
}

.header_heading,
button,
a,
.section_text,
.section_card_heading,
.section_banner_text_wrap {
    font-family: $sourceSansPro;
}

* {
    margin: 0 auto;
}

body {
    background-color: $bg-screen;
}

header {
    background-image: $bg-pic;
    height: $h-bg-pic;
    width: $w-bg-pic;
    background-size: $bg-pic-size;
    overflow: hidden;
    margin-top: -180px;
    border-bottom-right-radius: 30%;
}

.header-wrap {
    position: absolute;
    top: 20px;
    padding-left: 125px;
    width: 480px;
    .header_heading {
        font-weight: 800;
        font-size: 44px;
        line-height: 46px;
    }
    p, div {
        margin-bottom: 25px;
        color: $color-text;
    }
    .header_button {
        margin-right: 140px;
    }
    .login {
        font-weight: bold;
    }
   
}

.header_heading {
    position: relative;
    z-index: 5;
    &.header_heading::after {
        content: '';
        width: 180px;
        height: 35px;
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 5px;
        background-color: $bg-span-color;
        z-index: -5;
    }
}

.landing-logo {
    img {
        width: 40px;
        height: 40px;
    }
    p {
    display: inline-block;
    font-weight: 600;
    font-size: 22px;
    }
    span {
        display: block;
        font-size: 8px;
        text-align: center;
    }
}

button {
    width: 120px;
    height: 40px;
    color: $color-btn;
    background-color: $bg-btn;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

a {
    color: $color-link;
}

.section_text {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: $color-text;
    margin: 25px auto;
    position: relative;
    z-index: 5;
    &::after {
        content: '';
        position: absolute;
        right: 590px;
        bottom: 5px;
        width: 160px;
        height: 35px;
        background-color: $bg-span-color;
        z-index: -5;
    }

}

.section_card{
    position: relative;
    width: 48%;
    min-height: 225px;
    background-color: $bg-blocks;
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    .section_card_img {
        float: left;
        height: 225px;
        width: 245px;
        position: absolute;
        left: 15px;
        top: 15px;
        bottom: 15px;
        margin-right: 60px;
        border-radius: 5px;
    }
    .section_card_right_container {
        position: absolute;
        left: 280px;
        right: 60px;
        padding-left: 40px;
        .section_card_heading {
            color: $color-post;
            text-align: center;
            font-size: 24px;
            font-weight: 600;
        }
        .section_card_text {
            line-height: 20px;
            font-size: 14px;
        }
        .section_link {
            display: block;
            text-align: center;
        }
    }
}

.section_card_text,
.section_link {
    color: $color-block;
}

.section_card_right_container p,
.section_link {
    margin-top: 25px;
    margin-bottom: 25px;
}

.section_banner {
    width: 60%;
    height: 100px;
    border-radius: 5px;
    background: $bg-banner-block;
    background: $bg-banner-block-gr;
    position: relative;
    padding-bottom: 40px;
    z-index: 10;
    .section_banner_text_wrap {
        position: relative;
        padding-top: 5px;
        padding-left: 85px;
    }
    .section_banner_text{
        color: $color-post;
    }
    .section_banner_button {
        position: absolute;
        right: 150px;
        top: 40px;
    }
}

.section_banner_heading {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    z-index: 5;
    &::after {
        content: '';
        position: absolute;
        background-color: $bg-span-color;
        height: 40px;
        width: 55px;
        left: 90px;
        bottom: 2px;
        z-index: -5;
    }
}

footer {
    z-index: -10;
    margin-top: -70px;
    background-color: $bg-blocks;
    width: 100%;
    padding: 80px 100px 40px;
    .footer-wrap {
        color: $color-post;
    }
}

