$bg-pic: url('./../img/m-h-day.jpg'); 
$bg-btn: rgb(105, 153, 0);
$bg-span-color: rgb(20, 160, 199);
$bg-blocks: rgb(33, 35, 46);
$bg-screen: white;
$color-btn: white;
$color-text: black;
$bg-banner-block: rgb(2,0,36);
$bg-banner-block-gr: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,150,9,1) 0%, rgba(47,93,206,1) 100%);
$secondPrint: 'Hind', sans-serif;