$bg-pic:  url('./../img/m-h-night.jpg');
$bg-btn: rgb(105, 153, 0);
$bg-span-color: rgb(255, 78, 51);
$bg-blocks: rgb(59, 63, 80);
$bg-screen: rgb(33, 35, 46);
$color-btn: white;
$h-bg-pic: 800px;
$w-bg-pic: 70%;
$bg-pic-size: 800px;
$secondPrint: 'Fresca', sans-serif;
$color-text: white;
$bg-banner-block: rgb(2,0,36);
$bg-banner-block-gr:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(222,164,5,1) 0%, rgba(152,54,76,1) 100%);