* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


section {
    display: inline-block;
    height: 400px;
}


#section1{
    width: 30%;
    padding: 5px;
}


li {
    border: 1px solid blue;
    margin: 5px;
    font-size: 18px;
}

#section2{
    width: 70%;
    background-color: grey;
    position: relative;
}

#picture {
    width: 25%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 45px 10px;
}


img {
    width: 250px;
    height: 300px;
}

#content {
    background-color: gainsboro;
    width: 75%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
}

